<%= form_for([@article, @article.comments.build]) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
  <div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form">
      <div class="form-group">
        <%= f.text_area :body, style: 'width: 100%', html: {:class => "form-control" , :rows=>"3"}%>
      </div>
  <!--<button type="submit" class="btn btn-primary">Submit</button> -->
      <%= f.submit %>
    </form>
  </div>
  <br>
<% end %>
